@using ui.Models
@model SearchFilterModel


<form id="filter_form" method="post" asp-controller="Home" asp-action="FilterResult">






    <div class="row ">
        <div>
            <a class=" btn btn-primary " style="width: 100%;" data-bs-toggle="collapse"
               href="#motivations_selector" role="button" aria-expanded="false"
               aria-controls="collapse_choices">
                MOTİVATİONS <span class="badge bg-primary"></span>

            </a>

        </div>

        <div class="collapse " id="motivations_selector">
            @{
                if (Model.motivations.Count > 100)
                {
                    <div class="position-relative">

                        <input type="text" class="form-control" aria-describedby="helpId"
                           placeholder="Searh Personels">
                        <button class="position-absolute border-0"
                            style="top: 50%; right: 5%; transform: translateY(-50%)">
                            <i class="fas fa-search"></i>
                        </button>
                    </div>
                }

            }

            <select multiple class="form-select  bg-transparent " id="selectedMotivations" name="selectedMotivations">
                @{
                    @foreach (var item in Model.motivations)
                    {
                        <option id="@item.Id" value="@item.Id">@item.Name</option>
                    }
                }

            </select>
        </div>

    </div>
    <hr>
    <div class="row ">
        <div>
            <a class=" btn btn-primary " style="width: 100%;" data-bs-toggle="collapse"
               href="#districts_selector" role="button" aria-expanded="false"
               aria-controls="collapse_choices">
                DİSTRİCTS <span class="badge bg-primary"></span>

            </a>

        </div>

        <div class="collapse " id="districts_selector">
            <div class="position-relative">
                <input type="text" class="form-control" name="" id="" aria-describedby="helpId"
                       placeholder="Searh Personels">
                <button class="position-absolute border-0"
                        style="top: 50%; right: 5%; transform: translateY(-50%)">
                    <i class="fas fa-search"></i>
                </button>
            </div>
            <select multiple class="form-select  bg-transparent " name="selectedDistricts" id="selectedDistricts">
                @{
                    @foreach (var item in Model.districts)
                    {
                        <option id="@item.Id" value="@item.Id">@item.Name</option>
                    }
                }

            </select>
        </div>

    </div>
    <hr>
    <div class="row ">
        <div>
            <a class=" btn btn-primary" style="width: 100%;" data-bs-toggle="collapse"
               href="#preferences_selector" role="button" aria-expanded="false"
               aria-controls="collapse_choices">
                PREFERENCES <span class="badge bg-primary">12</span>
            </a>

        </div>

        <div class="collapse " id="preferences_selector">

            <select multiple class="form-select  bg-transparent " name="selectedWorkingPreferences" id="selectedWorkingPreferences">

                @{
                    @foreach (var item in Model.workingPreferences)
                    {
                        <option id="@item.Id" value="@item.Id">@item.Name</option>
                    }
                }

            </select>
        </div>

    </div>
    <hr>
    <div class="row ">
        <div>
            <a class=" btn btn-primary" style="width: 100%;" data-bs-toggle="collapse"
               href="#range_selector" role="button" aria-expanded="false"
               aria-controls="range_selector">
                CONTENT <span class="badge bg-primary">12</span>
            </a>

        </div>

        <div class="collapse " id="range_selector">

            <div data-role="rangeslider">
                <div>
                    <label for="price-min">Price:</label>
                    <input type="range" name="price-min" id="price-min" value="200" min="0" max="1000">
                </div>

                <div>
                    <label for="price-max">Price:</label>
                    <input type="range" name="price-max" id="price-max" value="800" min="0" max="1000">
                </div>

            </div>
        </div>

    </div>

    <hr />
    <!-- Add a submit button to trigger the form submission -->
    <button type="submit" class="btn btn-info" style="width: 100%;">Submit</button>




</form>
